.projects {
  background: #ebeeee;
  padding: 90px 30px 60px 30px;
  text-align: center;
}
.projects_h2 {
  color: #95A3A3;
  font: 20px 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
.projects-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;

}
iframe {
  border: none;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.projects-item-h3 a {
  color: #95A3A3;
  font: 20px 'Open Sans', sans-serif;
  text-decoration: none;
}
.projects-item-h3 a:hover {
  color: #1B1D18;
  font-weight: 600;
  transition: all .4s ease-in-out;
}