body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #ebeeee;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb {
  background-color: #1B1D18;
  border-radius: 9em;
}